<form class="signup-form">
  <div>
    <label for="username-signup" style="color: skyblue;">Username:</label>
    <input type="text" id="username-signup" size="50"/>
  </div>
  <div>
    <label for="email-signup" style="color: skyblue;">Email:</label>
    <input type="text" id="email-signup" size="50"/>
  </div>
  <div>
    <label for="password-signup" style="color: skyblue;">Password:</label>
    <input type="password" id="password-signup" size="50"/>
  </div>
  <div>
    <button type="submit" style="color: skyblue;">Signup</button>
  </div>
</form>
<script src="/javascript/sign-up.js"></script>